# -- Office / VBA ---------------------------------
~$*.xls*          
*.log
*.tmp
*.bak

# -- build artifacts ------------------------------
bin/
*.xlam            
*.xlsm



# -- IDE / system --------------------------------
.vscode/
Thumbs.db



src/*.bas
src/*.cls
src/*.frm